[%
# This file is part of Astatistics.
# Copyright (C) 2011
#   Eurogaran Informatica, S.L.
# 
# Astatistics is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Astatistics is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with Astatistics.  If not, see <http://www.gnu.org/licenses/>.
# 
# See the file COPYING for copying conditions.
%]

[% MACRO l(text, args) BLOCK;
	c.localize(text, args);
END; %]

[% debug=1 %]
[% show_resultset=1 %]
[% IF c.user_exists %]
	[% IF c.check_user_roles('superuser') %]
		<h3>QueueLogVirt_Test</h3>
		<h3>Result</h3>
		[% FOR serie IN series %]
			[% FOR value IN values.$serie %]
				<table border="1" cellspacing="0">
					<tr>
						<th class="result_header_left" colspan="2">
							[% IF value == "total" %]
								Total
							[% ELSE %]
								[% serie %] [% value %]
							[% END %]
						</th>
					</tr>
					[% odd = 1 %]
					[% FOR key IN keys %]
						<tr>
							[% IF odd %]
								[% classl="result_odd_left" %]
								[% classr="result_odd_right" %]
								[% odd=0 %]
							[% ELSE %]
								[% classl="result_even_left" %]
								[% classr="result_even_right" %]
								[% odd=1 %]
							[% END %]
							<td class="[% classl %]">[% key %]</td>
							<td class="[% classr %]">[% result.$serie.$value.$key %]</td>
						</tr>
					[% END %]
				</table>
				<br/>
			[% END %]
		[% END %]
		[% IF show_resultset %]
			<h3>Source Resultset</h3>
			<table border="1">
				<tr>
					[% FOR column IN qlogvirt.columns %]
						<th>[% column %][% IF column == 'time' %] (converted from epoch)[% END %]</th>
					[% END %]
				</tr>
				[% FOR row IN rs %]
					<tr>
						[% FOR column IN qlogvirt.columns %]
							<td align="center">
								[% IF column == 'time' %]
									[% epoch_to_str_date(row.$column) %],<br/>epoch [% row.$column %]
								[% ELSE %]
									[% row.$column %]
								[% END %]
							</td>
						[% END %]
					</tr>
				[% END %]
			</table>
		[% END %]
		[% IF debug %]
			<p>[% qlogvirt.msg_html %]</p>
		[% END %]
	[% ELSE %]
		<h3>Permission denied. You must be administrator to access this page.</h3>
	[% END %]
[% ELSE %]
	<h3>[% l('Please, login') %]</h3>
[% END %]
